# **ðŸŒŸ Exercise 1: Duplicate Detection and Removal**

In [1]:
!pip install kaggle

from google.colab import files
files.upload()

# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

!kaggle competitions download -c titanic

!unzip titanic.zip

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

Saving titanic dataset.zip to titanic dataset.zip
Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 4, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.11/dist-packages/kaggle/__init__.py", line 7, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.11/dist-packages/kaggle/api/kaggle_api_extended.py", line 407, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/
unzip:  cannot find or open titanic.zip, titanic.zip.zip or titanic.zip.ZIP.

In [2]:
import pandas as pd

# Load the Titanic dataset
titanic_data = pd.read_csv('train.csv')

# Explore the dataset
titanic_data.head()
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
# check for duplicates
duplicate_rows = titanic_data.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [4]:
#remove duplicates
titanic_data_cleaned = titanic_data.drop_duplicates()

#see changes
print(f"Rows before removing duplicates: {titanic_data.shape[0]}")
print(f"Rows after removing duplicates: {titanic_data_cleaned.shape[0]}")

Rows before removing duplicates: 891
Rows after removing duplicates: 891

In [5]:
# verify
print(f"Remaining duplicate rows: {titanic_data_cleaned.duplicated().sum()}")

Remaining duplicate rows: 0

# **ðŸŒŸ Exercise 2: Handling Missing Values**

In [6]:
from sklearn.impute import SimpleImputer

# Load the Titanic dataset & make a copy for comparing
titanic_data = pd.read_csv('train.csv')
titanic_data_cleaned = titanic_data.copy()

titanic_data_cleaned.info()
print(titanic_data_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
missing_values = titanic_data_cleaned.isnull().sum()
print("\n Missing values per column before handling:\n",missing_values)

 Missing values per column before handling:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#removing duplicates
titanic_data_no_missing = titanic_data_cleaned.dropna()
print(f"\nRows before dropping all missing values: {titanic_data_cleaned.shape[0]}")
print(f"Rows after dropping all missing values: {titanic_data_no_missing.shape[0]}")

Rows before dropping all missing values: 891
Rows after dropping all missing values: 183

In [9]:
# Creating separate imputed datasets
titanic_data_imputed = titanic_data_cleaned.copy()

In [10]:
# Fill 'Age' with median
age_imputer = SimpleImputer(strategy="median")
titanic_data_imputed['Age'] = age_imputer.fit_transform(titanic_data_imputed[['Age']])

print(titanic_data_imputed['Age'])
print(titanic_data_imputed.isnull().sum())

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
# Fill 'Embarked' with the most frequent value
embarked_imputer = SimpleImputer(strategy="most_frequent")
titanic_data_imputed['Embarked'] = embarked_imputer.fit_transform(titanic_data_imputed['Embarked'].values.reshape(-1, 1))[:,0]

print(titanic_data_imputed['Embarked'])
print(titanic_data_imputed.isnull().sum())

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [12]:
# Fill 'Cabin' with 'Unknown'
titanic_data_imputed['Cabin'] = titanic_data_imputed['Cabin'].fillna("Unknown")

print(titanic_data_imputed['Cabin'])
print(titanic_data_imputed.isnull().sum())

0      Unknown
1          C85
2      Unknown
3         C123
4      Unknown
        ...
886    Unknown
887        B42
888    Unknown
889       C148
890    Unknown
Name: Cabin, Length: 891, dtype: object
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# **ðŸŒŸ Exercise 3: Feature Engineering**

In [13]:
titanic_data_fe = titanic_data_cleaned.copy()

# Create Family Size feature
titanic_data_fe['FamilySize'] = titanic_data_fe['SibSp'] + titanic_data_fe['Parch'] + 1

print(titanic_data_fe[['SibSp', 'Parch', 'FamilySize']].head())  # View changes

   SibSp  Parch  FamilySize
0      1      0           2
1      1      0           2
2      0      0           1
3      1      0           2
4      0      0           1

In [14]:
# Extract Title from Name
titanic_data_fe['Title'] = titanic_data_fe['Name'].str.extract(r' ([A-Za-z]+)\.')

# View unique titles
print(titanic_data_fe['Title'].value_counts())

Title
Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: count, dtype: int64

In [15]:
title_mapping = {
    "Mlle": "Miss", "Ms": "Miss", "Mme": "Mrs",
    "Lady": "Royalty", "Countess": "Royalty", "Dona": "Royalty",
    "Dr": "Other", "Rev": "Other", "Col": "Other", "Major": "Other",
    "Capt": "Other", "Jonkheer": "Royalty", "Sir": "Royalty"
}

titanic_data_fe['Title'] = titanic_data_fe['Title'].replace(title_mapping)
print(titanic_data_fe['Title'].value_counts())  # Check results

Title
Mr         517
Miss       185
Mrs        126
Master      40
Other       18
Royalty      4
Don          1
Name: count, dtype: int64

In [16]:
# Apply One-Hot Encoding to Embarked and Title
titanic_data_fe = pd.get_dummies(titanic_data_fe, columns=['Title'], drop_first=True)

print(titanic_data_fe.head())  # View new columns

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  FamilySize  Title_Master  \
0      0         A/5 21171   7.2500   NaN        S           2         False
1      0          PC 17599  71.2833   C85        C           2         False
2      0  STON/O2. 3101282   7.9250   NaN        S           1         False
3      0            113803  53.1000  C123        S           2         False
4      0            373450   8.0500   NaN        S           1         False

   Title_Miss  Title_Mr  Title_Mrs  Title_Other  Title_Royalty
0       False      True      False        False          False
1       False     False       True        False          False
2        True     False      False        False          False
3       False     False       True        False          False
4       False      True      False        False          False

In [17]:
from sklearn.preprocessing import LabelEncoder

# Encode Sex (0 = female, 1 = male)
sex_encoder = LabelEncoder()
titanic_data_fe['Sex'] = sex_encoder.fit_transform(titanic_data_fe['Sex'])

print(titanic_data_fe[['Sex']].head())  # Check encoding

   Sex
0    1
1    0
2    0
3    0
4    1

In [18]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns to scale
num_features = ['Age', 'Fare', 'FamilySize']

scaler = StandardScaler()
titanic_data_fe[num_features] = scaler.fit_transform(titanic_data_fe[num_features])

print(titanic_data_fe[num_features].head())  # Check scaled values

        Age      Fare  FamilySize
0 -0.530377 -0.502445    0.059160
1  0.571831  0.786845    0.059160
2 -0.254825 -0.488854   -0.560975
3  0.365167  0.420730    0.059160
4  0.365167 -0.486337   -0.560975

# **ðŸŒŸ Exercise 4: Outlier Detection and Handling**

In [19]:
# Function to detect outliers using IQR
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)  # First quartile (25th percentile)
    Q3 = data[column].quantile(0.75)  # Third quartile (75th percentile)
    IQR = Q3 - Q1  # Interquartile range

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]

    print(f"Number of outliers in {column}: {outliers.shape[0]}")
    return outliers

# Detect outliers in Fare and Age
outliers_fare = detect_outliers_iqr(titanic_data_fe, 'Fare')
outliers_age = detect_outliers_iqr(titanic_data_fe, 'Age')

Number of outliers in Fare: 116
Number of outliers in Age: 11

In [20]:
import numpy as np
from scipy.stats import zscore

# Compute Z-scores
titanic_data_fe['Fare_Zscore'] = zscore(titanic_data_fe['Fare'])
titanic_data_fe['Age_Zscore'] = zscore(titanic_data_fe['Age'])

# Identify outliers using Z-score
outliers_fare_z = titanic_data_fe[np.abs(titanic_data_fe['Fare_Zscore']) > 3]
outliers_age_z = titanic_data_fe[np.abs(titanic_data_fe['Age_Zscore']) > 3]

print(f"Number of outliers in Fare (Z-score method): {outliers_fare_z.shape[0]}")
print(f"Number of outliers in Age (Z-score method): {outliers_age_z.shape[0]}")

Number of outliers in Fare (Z-score method): 20
Number of outliers in Age (Z-score method): 0

# **ðŸŒŸ Exercise 5: Data Standardization and Normalization**

In [21]:
# Check summary statistics of numerical features
print(titanic_data_fe.describe())

       PassengerId    Survived      Pclass         Sex           Age  \
count   891.000000  891.000000  891.000000  891.000000  7.140000e+02
mean    446.000000    0.383838    2.308642    0.647587  2.388379e-16
std     257.353842    0.486592    0.836071    0.477990  1.000701e+00
min       1.000000    0.000000    1.000000    0.000000 -2.016979e+00
25%     223.500000    0.000000    2.000000    0.000000 -6.595416e-01
50%     446.000000    0.000000    3.000000    1.000000 -1.170488e-01
75%     668.500000    1.000000    3.000000    1.000000  5.718310e-01
max     891.000000    1.000000    3.000000    1.000000  3.465126e+00

            SibSp       Parch          Fare    FamilySize   Fare_Zscore  \
count  891.000000  891.000000  8.910000e+02  8.910000e+02  8.910000e+02
mean     0.523008    0.381594  3.987333e-18 -2.392400e-17  3.987333e-18
std      1.102743    0.806057  1.000562e+00  1.000562e+00  1.000562e+00
min      0.000000    0.000000 -6.484217e-01 -5.609748e-01 -6.484217e-01
25%      0.000000    0.000000 -4.891482e-01 -5.609748e-01 -4.891482e-01
50%      0.000000    0.000000 -3.573909e-01 -5.609748e-01 -3.573909e-01
75%      1.000000    0.000000 -2.424635e-02  5.915988e-02 -2.424635e-02
max      8.000000    6.000000  9.667167e+00  5.640372e+00  9.667167e+00

       Age_Zscore
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [22]:
from sklearn.preprocessing import StandardScaler

# Standardize numerical features with a wide range
num_features_standard = ['Age', 'Fare', 'FamilySize']

scaler = StandardScaler()
titanic_data_fe[num_features_standard] = scaler.fit_transform(titanic_data_fe[num_features_standard])

print(titanic_data_fe[num_features_standard].head())  # Check standardized values

        Age      Fare  FamilySize
0 -0.530377 -0.502445    0.059160
1  0.571831  0.786845    0.059160
2 -0.254825 -0.488854   -0.560975
3  0.365167  0.420730    0.059160
4  0.365167 -0.486337   -0.560975

In [23]:
from sklearn.preprocessing import MinMaxScaler

# Normalize features that should be within [0,1] range
num_features_normalize = ['Age', 'Fare', 'FamilySize']

scaler_minmax = MinMaxScaler()
titanic_data_fe[num_features_normalize] = scaler_minmax.fit_transform(titanic_data_fe[num_features_normalize])

print(titanic_data_fe[num_features_normalize].head())  # Check normalized values

        Age      Fare  FamilySize
0  0.271174  0.014151         0.1
1  0.472229  0.139136         0.1
2  0.321438  0.015469         0.0
3  0.434531  0.103644         0.1
4  0.434531  0.015713         0.0

In [24]:
print(titanic_data_fe[num_features_standard].describe())  # Standardized features
print(titanic_data_fe[num_features_normalize].describe())  # Normalized features

              Age        Fare  FamilySize
count  714.000000  891.000000  891.000000
mean     0.367921    0.062858    0.090460
std      0.182540    0.096995    0.161346
min      0.000000    0.000000    0.000000
25%      0.247612    0.015440    0.000000
50%      0.346569    0.028213    0.000000
75%      0.472229    0.060508    0.100000
max      1.000000    1.000000    1.000000
              Age        Fare  FamilySize
count  714.000000  891.000000  891.000000
mean     0.367921    0.062858    0.090460
std      0.182540    0.096995    0.161346
min      0.000000    0.000000    0.000000
25%      0.247612    0.015440    0.000000
50%      0.346569    0.028213    0.000000
75%      0.472229    0.060508    0.100000
max      1.000000    1.000000    1.000000

# **ðŸŒŸ Exercise 6: Feature Encoding**

In [28]:
# One-hot encode 'Embarked'
titanic_data_fe = pd.get_dummies(titanic_data_fe, columns=['Embarked'], drop_first=True)

print(titanic_data_fe.head())  # Check new columns

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    1  0.271174      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.472229      1
2                             Heikkinen, Miss. Laina    0  0.321438      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.434531      1
4                           Allen, Mr. William Henry    1  0.434531      0

   Parch            Ticket      Fare  ... Title_Master  Title_Miss  Title_Mr  \
0      0         A/5 21171  0.014151  ...        False       False      True
1      0          PC 17599  0.139136  ...        False       False     False
2      0  STON/O2. 3101282  0.015469  ...        False        True     False
3      0            113803  0.103644  ...        False       False     False
4      0            373450  0.015713  ...        False       False      True

   Title_Mrs  Title_Other  Title_Royalty  Fare_Zscore  Age_Zscore  Embarked_Q  \
0      False        False          False    -0.502445         NaN       False
1       True        False          False     0.786845         NaN       False
2      False        False          False    -0.488854         NaN       False
3       True        False          False     0.420730         NaN       False
4      False        False          False    -0.486337         NaN       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

[5 rows x 22 columns]

In [29]:
from sklearn.preprocessing import LabelEncoder

# Label encode 'Sex'
sex_encoder = LabelEncoder()
titanic_data_fe['Sex'] = sex_encoder.fit_transform(titanic_data_fe['Sex'])  # 0 = Female, 1 = Male

# Encode 'Pclass' as ordinal (though it is often used as categorical)
pclass_encoder = LabelEncoder()
titanic_data_fe['Pclass'] = pclass_encoder.fit_transform(titanic_data_fe['Pclass'])

print(titanic_data_fe[['Sex', 'Pclass']].head())  # Check encoded values

   Sex  Pclass
0    1       2
1    0       0
2    0       2
3    0       0
4    1       2

In [30]:
print(titanic_data_fe.info())  # Check data types after encoding

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    int64
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  FamilySize     891 non-null    float64
 12  Title_Master   891 non-null    bool
 13  Title_Miss     891 non-null    bool
 14  Title_Mr       891 non-null    bool
 15  Title_Mrs      891 non-null    bool
 16  Title_Other    891 non-null    bool
 17  Title_Royalty  891 non-null    bool
 18  Fare_Zscore    891 non-null    float64
 19  Age_Zscore     0 non-null      float64
 20  Embarked_Q     891 non-null    bool
 21  Embarked_S     891 non-null    bool
dtypes: bool(8), float64(5), int64(6), object(3)
memory usage: 104.5+ KB
None

# **ðŸŒŸ Exercise 7: Data Transformation for Age Feature**

In [31]:
import pandas as pd

# Define age bins and labels
age_bins = [0, 12, 18, 35, 50, 65, 100]  # Ranges: Child, Teen, Young Adult, Middle-aged, Senior, Elderly
age_labels = ['Child', 'Teen', 'Young Adult', 'Middle-aged', 'Senior', 'Elderly']

# Create Age Group column
titanic_data_fe['AgeGroup'] = pd.cut(titanic_data_fe['Age'], bins=age_bins, labels=age_labels)

# View first few rows to check the transformation
print(titanic_data_fe[['Age', 'AgeGroup']].head())

        Age AgeGroup
0  0.271174    Child
1  0.472229    Child
2  0.321438    Child
3  0.434531    Child
4  0.434531    Child

In [32]:
# One-hot encode AgeGroup
titanic_data_fe = pd.get_dummies(titanic_data_fe, columns=['AgeGroup'], drop_first=True)

# Check new columns
print(titanic_data_fe.head())

   PassengerId  Survived  Pclass  \
0            1         0       2
1            2         1       0
2            3         1       2
3            4         1       0
4            5         0       2

                                                Name  Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    1  0.271174      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.472229      1
2                             Heikkinen, Miss. Laina    0  0.321438      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.434531      1
4                           Allen, Mr. William Henry    1  0.434531      0

   Parch            Ticket      Fare  ... Title_Royalty  Fare_Zscore  \
0      0         A/5 21171  0.014151  ...         False    -0.502445
1      0          PC 17599  0.139136  ...         False     0.786845
2      0  STON/O2. 3101282  0.015469  ...         False    -0.488854
3      0            113803  0.103644  ...         False     0.420730
4      0            373450  0.015713  ...         False    -0.486337

   Age_Zscore  Embarked_Q  Embarked_S  AgeGroup_Teen  AgeGroup_Young Adult  \
0         NaN       False        True          False                 False
1         NaN       False       False          False                 False
2         NaN       False        True          False                 False
3         NaN       False        True          False                 False
4         NaN       False        True          False                 False

   AgeGroup_Middle-aged  AgeGroup_Senior  AgeGroup_Elderly
0                 False            False             False
1                 False            False             False
2                 False            False             False
3                 False            False             False
4                 False            False             False

[5 rows x 27 columns]

In [33]:
print(titanic_data_fe.info())  # Ensure no categorical data remains
print(titanic_data_fe.head())  # Check transformed dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           891 non-null    int64
 1   Survived              891 non-null    int64
 2   Pclass                891 non-null    int64
 3   Name                  891 non-null    object
 4   Sex                   891 non-null    int64
 5   Age                   714 non-null    float64
 6   SibSp                 891 non-null    int64
 7   Parch                 891 non-null    int64
 8   Ticket                891 non-null    object
 9   Fare                  891 non-null    float64
 10  Cabin                 204 non-null    object
 11  FamilySize            891 non-null    float64
 12  Title_Master          891 non-null    bool
 13  Title_Miss            891 non-null    bool
 14  Title_Mr              891 non-null    bool
 15  Title_Mrs             891 non-null    bool
 16  Title_Other           891 non-null    bool
 17  Title_Royalty         891 non-null    bool
 18  Fare_Zscore           891 non-null    float64
 19  Age_Zscore            0 non-null      float64
 20  Embarked_Q            891 non-null    bool
 21  Embarked_S            891 non-null    bool
 22  AgeGroup_Teen         891 non-null    bool
 23  AgeGroup_Young Adult  891 non-null    bool
 24  AgeGroup_Middle-aged  891 non-null    bool
 25  AgeGroup_Senior       891 non-null    bool
 26  AgeGroup_Elderly      891 non-null    bool
dtypes: bool(13), float64(5), int64(6), object(3)
memory usage: 108.9+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       2
1            2         1       0
2            3         1       2
3            4         1       0
4            5         0       2

                                                Name  Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    1  0.271174      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  0.472229      1
2                             Heikkinen, Miss. Laina    0  0.321438      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  0.434531      1
4                           Allen, Mr. William Henry    1  0.434531      0

   Parch            Ticket      Fare  ... Title_Royalty  Fare_Zscore  \
0      0         A/5 21171  0.014151  ...         False    -0.502445
1      0          PC 17599  0.139136  ...         False     0.786845
2      0  STON/O2. 3101282  0.015469  ...         False    -0.488854
3      0            113803  0.103644  ...         False     0.420730
4      0            373450  0.015713  ...         False    -0.486337

   Age_Zscore  Embarked_Q  Embarked_S  AgeGroup_Teen  AgeGroup_Young Adult  \
0         NaN       False        True          False                 False
1         NaN       False       False          False                 False
2         NaN       False        True          False                 False
3         NaN       False        True          False                 False
4         NaN       False        True          False                 False

   AgeGroup_Middle-aged  AgeGroup_Senior  AgeGroup_Elderly
0                 False            False             False
1                 False            False             False
2                 False            False             False
3                 False            False             False
4                 False            False             False

[5 rows x 27 columns]